<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyCnCCiAXC80TT5LmK7powiQpCG-pRJc3SM</string>
	<key>GCM_SENDER_ID</key>
	<string>369550109262</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>gr.oss.open.fitness</string>
	<key>PROJECT_ID</key>
	<string>fitness-oss</string>
	<key>STORAGE_BUCKET</key>
	<string>fitness-oss.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:369550109262:ios:4443ae4181475aee25b11f</string>
</dict>
</plist>