<ion-header [translucent]="true">
  <ion-toolbar color="primary">
    <ion-title> My Schedule </ion-title>
    <ion-buttons slot="end">
      <ion-button id="open-calendar">
        <ion-icon name="calendar-outline"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-modal aria-hidden="false" class="calendar" trigger="open-calendar" backdropDismiss="true">
      <ng-template>
        <ion-content>
          <ion-datetime
            size="cover"
            #fromDateDatetimeElement
            (ionChange)="onSelectFromDate($event)"
            presentation="date"
            preferWheel="true"
            [(ngModel)]="currnet_date"
          >
            <ion-buttons slot="buttons">
              <ion-button (click)="cancel()">Cancel</ion-button>
              <ion-button (click)="selectDate()" color="primary">Select</ion-button>
            </ion-buttons>
          </ion-datetime>
        </ion-content>
      </ng-template>
    </ion-modal>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <div class="ion-text-center">
      <ion-spinner *ngIf="isLoading"></ion-spinner>
  </div>
  <ion-refresher slot="fixed" (ionRefresh)="loadMySchedulePlana($event)">
    <ion-refresher-content></ion-refresher-content>
  </ion-refresher>
  <ion-list
    *ngIf="listData?.planaGroupedByDay && listData?.planaGroupedByDay?.length"
    [@animateStagger]="{ value: '100' }"
    class="ion-no-padding"
  >
    <ion-item-group *ngFor="let day of listData?.planaGroupedByDay">
      <ion-item-divider color="light" text-center>{{ day.day | date: "dd.MM.yyyy" }}</ion-item-divider>

      <ion-item
        button
        detail="false"
        [@animate]="{ value: '*', params: { y: '100%' } }"
        *ngFor="let plano of day.plana; let i=index;"
        (click)="onLoadPlanoPage(plano,i )"
      >
        <ion-avatar slot="start"> <img [src]="gymAvatar(plano)" /> </ion-avatar>
        <ion-label>
          <span class="hour"> {{ plano.dtBe | date: "HH:mm" }} - {{ plano.dtEn | date: "HH:mm" }} </span>
          <span class="status">
            <ion-button
              mode="md"
              class="button-top-right"
              fill="clear"
              size="small"
              color="primary"
              shape="round"
            >
              <ion-icon slot="start" name="heart" *ngIf="plano.std1 === 'BOOKED'"></ion-icon>
              <ion-icon
                slot="start"
                name="heart-outline"
                *ngIf="plano.std1 !== 'BOOKED' && plano.std1 !== 'BOOKWLIST'"
              ></ion-icon>
              <ion-icon slot="start" name="timer" *ngIf="plano.std1 === 'BOOKWLIST'"></ion-icon>
              {{ plano.std1 }}
            </ion-button>
            <ion-button
              mode="md"
              *ngIf="plano.sta2 !== 3"
              class="button-top-right"
              fill="clear"
              size="small"
              color="secondary"
              shape="round"
            >
              <ion-icon name="arrow-redo"></ion-icon>
              {{ plano.std2 }}
            </ion-button>
            <ion-button
              mode="md"
              *ngIf="plano.sta2 === 3"
              class="button-top-right"
              fill="clear"
              size="small"
              color="secondary"
              shape="round"
              (click)="onCall($event)"
            >
              <ion-icon name="call"></ion-icon>
              {{ plano.std2 }}
            </ion-button>
          </span>
          <h2>{{ plano.mathimaDescr }}</h2>
          <p>{{ plano.aithousaDescr }} w/{{ plano.gymnasthsName }}</p>
        </ion-label>
      </ion-item>
    </ion-item-group>
  </ion-list>
</ion-content>
